html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input, h1, h2, h3, h4, h5, h6, p, a {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 100;
}

p {
  margin: 0px 0px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
}

.view {
  margin: -10px -8px;
}

#canvas {
  margin: 0px 0px;
  text-align: center;
  background-color: dimgray;
}

.canvas {
  overflow: hidden;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;
  margin: 0 10px;
}

.circle:hover {
  cursor: pointer;
}

.userInput, .colorInput, .hallway {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.usernameInput, .roomInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
  font-size: 200%;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 100;
}

.title {
  font-size: 200%;
  font-weight: 100;
}

.chooseRoom {
  margin: 0 auto;
  width: 70%;
}

.roomButton {
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0 5px 10px 5px;
  background-color: black;
  border: solid #3498db 2px;
}

.roomButton:hover {
  cursor: pointer;
  border: solid black 2px;
  background: #3498db;
}

.newRoom {
  margin-top: 50px;
}

.wholeRoom {
  overflow-y: hidden;
  overflow-x: hidden;
}

.exit {
  position: fixed;
  top: 20px;
  left: 20px;
}
.exit:hover {
  cursor: pointer;
}

.clear {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: black;
}
.clear:hover {
  cursor: pointer;
}

.exitText, .clearText {
  color: black;
  margin: 0px;
  display: inline-block;
  transform: translateY(-40%);
  font-size: 2em;
}

.exitIcon {
  width: 50px;
}

.eraserIcon {
  width: 60px;
}

.panel {
  top: 0px;
  right: 0px;
  position: fixed;
  width: 320px;
  height: 100%;
  background-color: black;
  padding: 10px 10px;
}

.user {
  height: 100px;
  margin-bottom: 20px;
}

.userColor {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: inline-block;
  margin: 0 10px;
}

.username {
  font-size: 2.5em;
  font-weight: 100;
  display: inline-block;
  transform: translateY(-50%);
}

.otherUser {
  margin-top: 10px;
  text-align: right;
}

.otherUserColor {
  width: 45px;
  height: 45px;
  border-radius: 23px;
  display: inline-block;
  margin: 0 10px;
}

.otherUsername {
  font-size: 1.8em;
  display: inline-block;
  transform: translateY(-50%);
  vertical-align: middle;
}

.chooseColor {
  width: 280px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  bottom: 0;
}

.mediumCircle {
  width: 55px;
  height: 55px;
  border-radius: 28px;
  display: inline-block;
  margin: 5px 5px;
}

.mediumCircle:hover {
  cursor: pointer;
}

.changeColor {
  font-size: 2.5em;
  font-weight: 100;
  margin-bottom: 20px;
}
