<div class="wholeRoom">
	<div class="canvas">
		<canvas id="canvas" width="1000" height="800"></canvas>
		<a class="exit" href="#/hallway">
			<img src="client/img/exit.png" class="exitIcon"></img>
			<h1 class="exitText"> Exit Room </h1>
		</a>
		<div class="delete" ng-click="room.deleteRoom()" ng-if="room.lastUser && room.user.room!=='Lobby'">
			<h1 class="deleteText">Delete Room</h1>
			<img src="client/img/delete.png" class="deleteIcon"></img>
		</div>
		<div class="clear" ng-click="room.clearCanvas()">
		<img src="client/img/eraser.png" class="eraserIcon"></img>
			<h1 class="clearText">Clear Canvas</h1>
		</div>
	</div>
	<div class="panel">
		<div class="user">
			<div style="background-color:{{room.user.color}}" class="userColor"></div> 
			<p class='username'>{{room.user.name}}</p>
		</div>
		<div class="otherUser" ng-repeat="user in room.users">
			<p class='otherUsername'>{{user.name}}</p>
			<div style="background-color:{{user.color}}" class="otherUserColor"></div> 
		</div>
		<div class="chooseColor">
		  <h3 class="title changeColor">Change Color?</h3>
		  <div ng-repeat="color in room.colors" style="background-color:{{color}}" class="mediumCircle" ng-click="room.setColor(color)"></div>
		</div>
	</div>
</div>