@import 'var-and-mix';

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input, h1, h2, h3, h4, h5, h6, p, a, div, img {
  @include user-select(none);
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 100;
}

p {
  margin: 0px 0px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
}

.view {
  margin: -10px -8px;
}