@import 'var-and-mix';

.wholeRoom {
  background-color: lightgray;
  float: left;
  width: 100%;
  overflow-x: hidden;
}

#canvas {
  margin: 0px 0px;
  text-align: center;
  background-color: lightgray;
}

.canvas {
  overflow: hidden;
  float: left;
}

.eraseCursor {
  cursor: url(../img/erase_cursor.png) 40 40, auto;
}

.paintCursor {
  cursor: url(../img/paint_cursor.png) 2.5 2.5, auto; 
}

.panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 880px;
  background-color: black;
  padding: 10px 10px;
}

.exit {
  position: fixed;
  top: 20px;
  left: 20px;
}
.exit:hover {
  cursor: pointer;
}

.clear {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: black;
}
.clear:hover {
  cursor: pointer;
}

.delete {
  position: absolute;
  top: 20px;
  right: 355px;
  color: black;
}

.delete:hover {
  cursor: pointer;
}

.exitText, .clearText, .deleteText {
  color: black;
  margin: 0px;
  display: inline-block;
  @include transform(translateY(-40%));
  font-size: 2em;
}

.cancel {
  color: red;
}

.sure {
  color: green;
  margin-left: 25px; 
}

.exitIcon, .deleteIcon {
  width: 50px;
}

.bucketIcon {
  width: 60px;
}

.eraserIcon {
  width: 40px;
  position: relative;
  top: 47%;
  @include transform(translateY(-50%));
}

.user {
  height: 100px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.userColor {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: inline-block;
  margin: 0 10px;
}

.username {
  font-size: 2.5em;
  font-weight: 100;
  display: inline-block;
  @include transform(translateY(-50%));
}

.otherUser {
  margin-top: 10px;
  text-align: right;
}

.otherUserColor {
  width: 45px;
  height: 45px;
  border-radius: 23px;
  display: inline-block;
  margin: 0 10px;
}

.otherUsername {
  font-size: 1.8em;
  display: inline-block;
  @include transform(translateY(-50%));
  vertical-align: middle;
}

.chooseColor {
  width: 280px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  bottom: 0;
}

.mediumCircle {
  width: 55px;
  height: 55px;
  border-radius: 28px;
  display: inline-block;
  margin: 5px 5px;
}

.mediumCircle:hover {
  cursor: pointer;
}

.changeColor {
  font-size: 2.5em;
  font-weight: 100;
  margin-bottom: 20px;
}